<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.project.mystudyproject">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".network.OkHttpBasicUsageActivity"></activity>
        <activity android:name=".network.OkHttpStudyHomeActivity" />

        <service
                android:name=".service.intent_service.MyIntentService"
                android:exported="false" />

        <activity android:name=".service.lifecycle.ServiceLifecycle2Activity" />

        <service
                android:name=".service.lifecycle.LifecycleTest1Service"
                android:enabled="true"
                android:exported="false" />

        <activity android:name=".service.lifecycle.ServiceLifecycleActivity" />
        <activity android:name=".service.ServiceHomeActivity" />
        <activity android:name=".glide.GlideStudyHomeActivity" />
        <activity android:name=".view.test_text.TestTextActivity" />
        <activity android:name=".storage.StorageHomeActivity" />
        <activity android:name=".view.test_path.TestPathActivity" />
        <activity android:name=".view.test_rect.TestRectActivity" />
        <activity android:name=".view.cutom_view.SimpleCustomViewActivity" />
        <activity android:name=".view.CustomViewHomeActivity" />
        <activity android:name=".animation.property.transition.LaunchActivityWithAnimation2Activity" />
        <activity android:name=".animation.property.transition.LaunchActivityWithAnimation1Activity" />
        <activity android:name=".animation.property.transition.SceneTestActivity" />
        <activity android:name=".animation.property.transition.LayoutTransitionActivity" />
        <activity android:name=".animation.property.MoveAnimatorActivity" />
        <activity android:name=".animation.property.ShowOrHideViewActivity" />
        <activity android:name=".view.MaskFilterActivity" />
        <activity android:name=".animation.property.BasicActivity" />
        <activity android:name=".animation.property.PropertyAnimationHomeActivity" />
        <activity android:name=".animation.AnimationHomeActivity" />
        <activity
                android:name=".notification.summary.SpecialActivity"
                android:excludeFromRecents="true"
                android:launchMode="singleTask"
                android:taskAffinity="" />
        <activity
                android:name=".notification.summary.TestTaskStackBuilderActivity2"
                android:parentActivityName=".notification.summary.TestTaskStackBuilderActivity1" />
        <activity
                android:name=".notification.summary.TestTaskStackBuilderActivity1"
                android:parentActivityName=".notification.summary.SummaryActivity" />
        <activity
                android:name=".notification.summary.SummaryActivity"
                android:parentActivityName=".notification.home.NotificationHomeActivity" />
        <activity android:name=".notification.channel.NotificationChannelTestActivity" />
        <activity android:name=".notification.group.GroupNotificationActivity" />
        <activity android:name=".notification.style.MediaStyleActivity" />
        <activity android:name=".notification.style.MessagingStyleActivity" />
        <activity android:name=".notification.style.InboxStyleActivity" />
        <activity android:name=".notification.style.BigTextActivity" />
        <activity android:name=".notification.style.BigPictureActivity" />
        <activity
                android:name=".notification.other.ImportantActivity"
                android:parentActivityName=".notification.progress.ProgressNotificationActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".notification.other.OtherNotificationActivity" />
        <activity
                android:name=".notification.progress.ProgressNotificationActivity"
                android:parentActivityName=".notification.home.NotificationHomeActivity" />
        <activity
                android:name=".notification.simple.SimpleNotification4Activity"
                android:excludeFromRecents="true"
                android:launchMode="singleTask"
                android:taskAffinity="" />
        <activity
                android:name=".notification.simple.SimpleNotification3Activity"
                android:parentActivityName=".notification.home.NotificationHomeActivity" />
        <activity
                android:name=".notification.simple.SimpleNotification2Activity"
                android:parentActivityName=".notification.simple.SimpleNotification3Activity" />
        <activity
                android:name=".notification.simple.SimpleNotificationActivity"
                android:parentActivityName=".notification.home.NotificationHomeActivity" />
        <activity
                android:name=".notification.home.NotificationHomeActivity"
                android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notification.simple.NotificationInputReceiver">
            <intent-filter>
                <action android:name="replyNotification" />
            </intent-filter>
        </receiver>
    </application>

</manifest>