<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.tvapp">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="com.hopechart.baselib.BaseApplication"
        android:allowBackup="true"
        android:banner="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TvAppTheme">
        <activity android:name=".fragment.rows1.RowsSupportFragmentStudy1Activity"></activity>
        <activity android:name=".fragment.rows.RowsSupportFragmentStudyActivity" />
        <activity android:name=".fragment.browse.BrowseFragmentActivity" />
        <activity android:name=".fragment.brabded.BrandedFragmentStudyActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- 如果是tv应用，则配置此项 -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>